@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.global-license-diagonal {
    color: #ffffff57;
    letter-spacing: .1em;
    pointer-events: none;
    text-shadow: 0 1px 2px #00000052;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 100;
    background: #080c0911;
    border-top: 1px solid #ffffff2e;
    border-bottom: 1px solid #ffffff2e;
    width: 145vw;
    padding: .25rem 0;
    font-size: clamp(.5rem, .8vw, .67rem);
    font-weight: 800;
    position: fixed;
    top: 51%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%) rotate(-21deg);
}
